body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="search"],
input[type="text"],
button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
}

input[type="search"],
input[type="text"] {
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    color: white;
    text-align: center;
}

input[type="search"]:hover,
input[type="search"]:focus,
input[type="text"]:hover,
input[type="text"]:focus {
    transform: scale(1.05);
}

button.add {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 8px;
    border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    border-image-slice: 1;
}

button.add:hover {
    background-color: #45a049;
    
    
}

button {
    background-color: #f44336;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    border-image-slice: 1;
}

button:hover {
    background-color: #d32f2f;
}

h2 {
    margin-top: 30px;
    color: #333;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
} ::placeholder {
    color: black;
    opacity: 0.7;
}